<div>Project # {{ expanded_project.id }}</div>
{% set ttnum = expanded_project.tt_number if expanded_project.tt_number else 'None' %}
<div>
Ticket Tracker #: <input name="tt_number" type="text" value="{{ ttnum }}"><br>
Description: <input name="description" type="text" value="{{ expanded_project.description }}"><br>
Notes: <br><textarea name="notes">{{ expanded_project.notes }}</textarea>
</div>
<section id="action_items">
{% if action_items %}
    <table>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Rate</th>
        </tr>
        {% for item in action_items %}
        <tr data-id="{{ item.id }}">
            <td>{{ item.name }}</td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <h1>No items associated to this project.</h1>
{% endif %}
</section>