<div id="yourbill">
<h1>Invoice</h1>
{% if office.serial %}
    <p>Serial: {{ office.serial }} </p> 
{% endif %}
{% if office.tt_number %}
    <p>Ticket Number: {{ office.tt_number }} </p> 
{% endif %}
<table>
    <tr>
        <th>Date</th>
        <th>Name</th>
        <th>Time (Minutes)</th>
        <th>Sub-total</th>
    </tr>
{% for record in billed_phase %}
    <tr>
        <td>{{ record.date }}</td>
        <td>{{ record.name }}</td>
        <td>{{ "%.02f" | format(record.time_total) }}</td>
        <td>{{ "$%.02f" | format(record.money_total) }}</td>
    </tr>
{% endfor %}
    <tfoot>
    <tr>
        <td>Total</td>
        <td></td>
        <td>{{ "%.02f" | format(grand_totals.time) }}</td>
        <td>{{ "$%.02f" | format(grand_totals.money) }}</td>
        </tr>
    </tfoot>
</table>
</div>