<form formaction="{{ url_for('update_details') }}">
Ticket Tracker # 
<input name="tt_number" 
       type="text" 
       value="{{ details.tt_number or 'None' }}">
Office Serial
<input name="office_serial"
       type="text"
       value="{{ details.office_serial or 'None' }}">
<br/>Description
<input name="description" 
       type="text" 
       value="{{ details.description }}">
<br/>Status
<select name="status">
    {% for s in get_statuses() %}
        <option value="{{ s.id }}" {{ 'selected' if s.id == details.status_id }}>{{ s.description }}</option>
    {%- endfor %}
</select> 
<br/>Notes
<textarea name="notes">{{ details.notes }}</textarea>
</form>