<style>
div#invoice {
    background-color: rgb(255, 255, 255); 
    color: rgb(0, 0, 0);
}

#invoice p {
    color: rgb(0, 0, 0);
}

#invoice table tr:nth-child(odd) {
    background-color: rgb(255, 255, 255);
}

#invoice table tr:nth-child(even) {
    background-color: rgb(200, 220, 220);
}

#invoice table tr:first-of-type, #invoice table tfoot {
    background-color: rgb(200, 200, 220);
}

#invoice table {
    width: 100%;
    font: Courier;
}

#invoice table td:nth-child(n+3) {
    text-align: right;
}
</style>
<div id="invoice">
<h1>Invoice</h1>
{% if office.serial %}
    <p>Serial: {{ office.serial }} </p> 
{% endif %}
{% if office.tt_number %}
    <p>Ticket Number: {{ office.tt_number }} </p> 
{% endif %}
<table>
    <tr>
        <th>Date</th>
        <th>Name</th>
        <th>Type</th>
        <th>Time (Minutes)</th>
        <th>Sub-total</th>
    </tr>
{% for record in invoice %}
    <tr>
        <td>{{ record.date }}</td>
        <td>{{ record.name }}</td>
        <td>{{ record.type }}</td>
        <td>{{ "%.02f" | format(record.time_total) }}</td>
        <td>{{ "$%.02f" | format(record.money_total) }}</td>
    </tr>
{% endfor %}
    <tfoot>
    <tr>
        <td>Total</td>
        <td></td>
        <td></td>
        <td>{{ "%.02f" | format(grand_totals.time) }}</td>
        <td>{{ "$%.02f" | format(grand_totals.money) }}</td>
        </tr>
    </tfoot>
</table>
</div>